<!--Header-->

<main class="container">

  <div class="d-flex justify-content-end mt-5">
    <it-language-switcher></it-language-switcher>
  </div>

  <it-breadcrumb>
    <it-breadcrumb-item *ngFor="let crumb of (breadcrumbs$ | async)"
                        [href]="crumb.routeLink"
                        [iconName]="getCrumbIcon(crumb)">
      {{crumb.label}}
    </it-breadcrumb-item>
  </it-breadcrumb>

  <router-outlet></router-outlet>
</main>

<it-notifications></it-notifications>

<it-back-to-top></it-back-to-top>

<!--Footer-->
